
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <form asp-action="ResetPassword" method="post" enctype="multipart/form-data">

        <div class="row" style="display:inline">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Old Password</label>
                    <input required type="password" name="old_password" class="form-control" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>New Password</label>
                    <input required type="password" name="new_password" class="form-control" />
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input required type="password" name="confirm_password" class="form-control" />
                </div>
            </div>

            <div class="col-md-12" style="padding: 10px;text-align: center;">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
