
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-box text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="/Home">Home</a> <span>||</span></li>
                        <li class="list-inline-item"><a href="/Home/About">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wc-box">
                    <h4>Welcome to <span>Digital Signage</span></h4>
                    <p>Digital Signage is used typically to inform or advertise. There are major benefits for digital signs over traditional static signs, including the ability to update content remotely over the web, adapt the screens to your viewers and even interact with your local audience.<br>A digital signage provider can help you explore the ways to use digital to inform, entertain, educate, and communicate with customers in your store. Signage can inform consumers of new releases, sales, and product information. It can also entertain through videos and interactive games</p>
                    <a href="https://www.digitalsignage.com/">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wc-img">
                    <img src="~/assets/images/about.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-12">
                <div class="row his-mis">
                    <div class="col-md-6">
                        <div class="history">
                            <h5>Our History</h5>
                            <p>Prior to digital signage, retailers used analog video signs. It was common to see video monitors in retail stores in the ’80s and the ’90s displaying retail signage with VHS videotapes. Nowadays the digital signage is used to display the products in the form of images, static text, crawling text, flash files or videos.</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i>digital signage could only show the prerecorded items </li>
                                <li><i class="fa fa-check"></i>if multiple displays were used, the message would be same on every screen</li>
                                <li><i class="fa fa-check"></i>Digital signage systems are composed of different elements, typically including one or several displays</li>
                                <li><i class="fa fa-check"></i>digital signage is used to display the products in the form of images, static text and videos</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="history">
                            <h5>Our Mission</h5>
                            <p>Digital signage happens to be a sub-segment of signage. Technologies, like LCD, LED, and projection, are used in digital signage to display digital content such as images, video, streaming media, and information. Digital billboards are used in public spaces, transportation systems, museums, stadiums, retail stores, hotels, restaurants, and corporate buildings, etc., for way finding, exhibitions, marketing, and outdoor advertising.<br>
                            Digital signage systems eliminate frequent compatibility and interoperability issues between media players and displays. Furthermore, digital signage boards are being extensively used as arrival and departure boards in airports known as Flight Information Display Systems (FIDS). Along with all these factors, enhancement of brand awareness and perception among the global leaders is expected to drive the growth of the market.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h4>Meet Our Team</h4>
                </div>
                
                    <div class="team-box">
                       
                        <h5>Aleeza Aftab</h5>
                    </div>
                    <div class="team-box">
                        
                        <h5>Ayesha Shahbaz</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

